/*
  @package speakerBureauthem
*/

/* Profile Picture */
.profile-picture {
  width: 180px;
  height: 150px;
  overflow: hidden;
  border-radius: 20px;
  margin: 10px auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 210px;
}
